#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    margin-left: 400px;
}

#navbar ul li{ 
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

.success{
	margin: 0%;
	margin-left: 60px;
	margin-top: -8%;
	width: 220px;
	padding: 5px;
	background-color: rgb(8, 163, 85);
	color: white;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: white;
    background-color: black;
}
/* select{
    border: none;
    font-size: 1.3rem;
}
select option{
    font-size: 1.3rem;
} */
.dropbtn {
    background-color: transparent;
    padding-left: 16px;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    font-size: 1.3rem;
    top: 13%;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover{
    color: white;
    background-color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {
    display: block;
}


  #home{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../images/full imge.png') no-repeat center center/cover;
    height: 550px;
    top:90px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home #homeintro{
    color:white;
    font-size:50px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    margin-right: 70%;
}
#home #h-primary{
    margin-bottom: 0%;
    margin-top: 15%;
    color:rgb(129, 148, 22);
    font-size:30px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    margin-right: 76%;
    border-bottom: 4px solid rgb(129, 148, 22);
}
.btn{
    margin-right: 75%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    font-weight: bold;
    padding: 13px;
}
.btn:hover{
    color: white;
    background-color: black;
    box-shadow: 5px 5px #888888;
}
#left{
    width: 50%;
    float: left;
}
#right{
    width: 50%;
    float: right;
    margin-top: 230px;
}
#left img{
    margin-top: 290px;
    width: 500px;
    height: 540px;
    margin-left: 90px;
    border-radius: 40px;
}
#aboutheading{
    margin-bottom: 0%;
    margin-top: 10%;
    color:rgb(129, 148, 22);
    font-size:30px;
    font-weight: bold;
    margin-bottom: -5%;
    width: fit-content;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);
}
#aboutintro{
    color: rgb(17, 13, 59);
    font-size:50px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}
#text{
    font-size: 20px;
    text-align: justify;
    margin-top: -5%;
}

#container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width:100%;
}
#container>div {
    width: 150px;
    height: 150px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background:rgb(226, 220, 220);
    border-radius: 100%;
}
span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
#logos{
   margin-left: 40px;
    margin-top: 20px;
}
#abouttext{
    margin-top: -1%;
    text-align: center;
    font-weight: bold;

 }
 #changeabouttext{
    margin-top: -7%;
    text-align: center;
    color: rgb(129, 148, 22);
    font-weight: bold;
 }


 /* service */
 
#services>#serviceheading{
    color:rgb(129, 148, 22);
    font-size:30px;
    margin-top: 900px;
    margin-left: 45%;
    font-weight: bold;
    width: fit-content;
    text-align: right;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);   
}

#services>#serviceheading2{
    color: rgb(17, 13, 59);
    font-size:50px;
    font-weight: bold;
    font-family: 'Bree Serif', serif; 
    text-align: center;
    margin-top: -1%;
}

.container2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
  }
  
  .ser {
    width: 350px;
    height: 300px;
    background: #ddd;
    border-radius: 10px;
    margin-top:15px;
    margin-right: 60px;
    color: black;
    text-align: center;
  
  }


 .ser img{ 
   height: 130px;
   margin: auto;
   padding-top: 20px;
   display: block;
}
.ser p{
    font-family: 'Bree Serif', serif;
}  

/* Appoointment */
.appointment{
    width: 100%;
    background-color: aqua;
    height: 470px;
}

.appointment #appointmentleft{
    width: 50%;
}
.appointment #appointmentright{
    width: 50%;
    float: right;

}

#appointmentleft>#aapointmentheading{
    color:rgb(129, 148, 22);
    font-size:30px;
    margin-left: 12%;
    font-weight: bold;
    padding-top: 10%;
    width: fit-content;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);   
}

#appointmentleft>#aapointmentheading2{
    color: rgb(17, 13, 59);
    font-size:50px;
    font-weight: bold;
    font-family: 'Bree Serif', serif; 
    text-align: center;
    margin-top: -1%;
}
#appointmentleft>#text2{
    margin-top: -6%;
    margin-left: 10%;
    text-align: justify;
    color: white;
    font-size: 20px;
}
#aapointmentheading2{
    color: rgb(17, 13, 59);
    font-size:30px;
    font-weight: bold;
    font-family: 'Bree Serif', serif; 
    text-align: center;
    margin-top: -36%;
}

select{
    margin-left: 50px;
    border: none;
    background-color: #ddd;
    width: 230px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
}
select option{
    font-size: small;
}
#Department1{
    color: #aaa0a0;
}
input{
    margin-left: 50px;
    border: none;
    background-color: #ddd;
    width: 230px;
    height: 35px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

#appointmentbtn{
    margin: 20px;
    width:500px;
    margin-left: 60px;
    height: 50px;
    background-color: rgb(17, 13, 59);
    border-radius: 40px;
    color: white;
}
#appointmentbtn:hover{
    box-shadow: 5px 3px white;
    background-color: black;

}
#pricing>#priceheading{
    color:rgb(129, 148, 22);
    font-size:30px;
    margin-left: 37%;
    font-weight: bold;
    width: fit-content;
    text-align: right;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);   
}

#pricing>#priceheading2{
    color: rgb(17, 13, 59);
    font-size:50px;
    font-weight: bold;
    font-family: 'Bree Serif', serif; 
    text-align: center;
    margin-top: -1%;
}

.pricingdiv {
    width: 350px;
    height: 370px;
    background: #ddd;
    border-radius: 10px;
    margin-top:15px;
    margin-right: 60px;
    color: black;
    text-align: center;  
  }


 .pricingdiv img{ 
   height: 130px;
   margin: auto;
   width: 300px;
   border-radius: 20px;
   border-top-left-radius: 20px;
   padding-top: 20px;
}
.pricingdiv p{
    font-family: 'Bree Serif', serif;
}  
#pricetag{
    background-color: rgb(5, 5, 15);
    color: white;
    width: 140px;
    border-radius: 40px;
    padding: 10px;
    margin-left: 100px;
}


/* Our doctor */

* {
    box-sizing: border-box;
  }
  
  .slider__content {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;


  }
  
  .slider__card {
    max-width: fit-content;
    padding: 20px;
  }
  
  .card__inner {
    /* padding: 20px; */
    border-radius: 20px;
    width: 500px;
    height: 300px;
    background-color: lightgray;
  }
  
  .slider__card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;


  }
  
  .card__content {
    padding: 10px;
    margin-top: -270px;
    margin-left: 300px;
  }

  #doctorname{
    color: rgb(17, 13, 59);
    font-size:20px;
    font-weight: bold;
    font-family: 'Bree Serif', serif; 
    text-align: center;
  }

  #speciality{
    color: rgb(129, 148, 22); 
    font-size: 20px;
    text-align: center;
  }
  
  .slider__scroll {
    position: relative;
    display: flex;
    height: 20px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
  }
  
  .slider__scroll-bar {
    /* background: #ffc600; */
    position: absolute;
    top: 0;
    height: 100%;
  }

  #doctor>#doctorheading{
    color:rgb(129, 148, 22);
    font-size:30px;
    margin-left: 40%;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);   
}

#doctor>#doctorheading2{
    color: rgb(17, 13, 59);
    font-size:50px;
    font-weight: bold;
    font-family: 'Bree Serif', serif; 
    text-align: center;
    margin-top: -1%;
}

/* footer */
footer {
    width: 100%;
    height: 270px;
    margin-top: 10px;
    border: solid black;
    background-color: rgb(25, 11, 48);
}

footer .about {
    width: 30%;
    color: white;
    margin-left: 20px;
}

footer .about h1 {
    color:rgb(129, 148, 22);
    font-size:20px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);   
}

footer .about p {
    font-size: 15px;
    text-align: justify;
    
}

footer .gallery {
    margin-top: -180px;
    width: 30%;
    float: right;
    color: white;
}

footer .gallery h1 {
    color:rgb(129, 148, 22);
    font-size:20px;
    font-weight: bold;
    width: fit-content;
    margin-left: 40px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);
}


footer .main {
    margin-top: -180px;
    width: 30%;
    float: right;
    /* margin-right: 290px; */
    color: white;
}

footer .main h1 {
    color:rgb(129, 148, 22);
    font-size:20px;
    font-weight: bold;
    width: fit-content;
    margin-left: 22px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    border-bottom: 4px solid rgb(129, 148, 22);
}
footer .main li{
    list-style: square;
  
}
footer p {
    color: white;
    margin-top: 20px;
}

