body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}

.main {
	width: 350px;
	height: 500px;
	background: red;
	margin-left: -210px;
	overflow: hidden;
	background: linear-gradient(to bottom, #195031, #29918b, #175a46);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

li {
	margin-top: -600px;
	margin-left: 600px;
	list-style-type: none;
}

li a {
	background-color: rgb(82, 131, 33);
	color: white;
	padding: 10px;
	border-radius: 20px;
	text-decoration: none;
}

li a:hover {
	background-color: #573b8a;
	color: white;
	font-weight: bold;
	box-shadow: 3px 3px black;

}

a {
	padding-left: 165px;
	margin-top: -10px;
	color: blueviolet;
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.success {
	margin: 0%;
	margin-left: 60px;
	margin-top: -8%;
	width: 220px;
	padding: 5px;
	background: #D4EDDA;
	color: #40754C;
}

.error {
	margin: 0%;
	margin-left: 60px;
	background: #F2DEDE;
	color: #A94442;
	margin-top: -12%;
	padding: 5px;
	width: 220px;
}

.login p {
	margin: 0%;
	margin-left: 60px;
	color: white;
	margin-top: -12%;
	padding: 5px;
	width: 220px;
	background: #c04343;
}

input {
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #6d44b8;
}

.login {
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-500px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}